.list{
    display: flex;
    flex-direction: column; 
    gap: 4px;
}
.item{
    display: flex;
    gap: 4px;
    font-size: 12px;
    border: 1px solid #E6ECF4;
    border-radius: 4px;
    padding: 4px 16px;
    cursor: pointer;
}
.item:last-child.last-drag-item{
    border: none;
    height: 16px;
    border-radius: 0;
    cursor: default;
}
.item__content{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    flex: 1 1 auto;
}
.selected{
    border: 2px solid #88A8C9;
}
.drag_icon{
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.drag_icon__foreground{
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
}